@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-text {
  @apply bg-gradient-to-r from-dark-blue to-light-blue bg-clip-text text-transparent;
}

.reverse-gradient-text {
  @apply bg-gradient-to-r from-light-blue to-dark-blue bg-clip-text text-transparent;
}

body {
  margin: 0;
  font-family: 'JetBrains Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
